<form 
    [formGroup]="form"
    (ngSubmit)="handleSubmit()"
class="flex flex-row items-center h-16 rounded-xl w-full px-4 bg-white">
    <div class="flex-grow">
        <div class="flex">
            <input type="text" autofocus  class=" flex w-full border rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10 text-black"
                [placeholder]="plahaceholder"
                formControlName="prompt"
                [autocomplete]="disabledCorrection ?'on':'off'"
                [spellcheck]="disabledCorrection ?'on':'off'"
            >
           <select 
            formControlName="selectedOption"
            class="w-2/5 ml-5 border rounded-xl text-gray-800 focus:outline-none">
            <option value="">Selecciona</option>
            @for (option of options; track option.id) {
                <option [value]="option.id">{{option.name}}</option>
            }
           </select>
        </div>
    </div>
    <div class="ml-4">
        <button 
        class="btn-primary"
        type="submit"
        [disabled]="!form.valid"
        >
            <span class="mr-2">Enviar</span>
            <i class="fa-regular fa-paper-plane"></i>
        </button>
    </div>
</form>