<div class="col-start-1 col-end-9 p-3 rounded-lg">
    <div class="flex flex-row items-start">
        <div class="flex items-center justify-center h-10 w-10 rounded-full bg-green-600 flex-shrink-0">
            <img src="https://freelogopng.com/images/all_img/1681039084chatgpt-icon.png" alt="">
        </div>
        <div class="relative ml-3 text-sm bg-black bg-opacity-25 pt-3 pb-2 px-4 shadow rounded-xl">
            @if (!hasDude) {
                <h5 class="text-lg">Puntaje: {{ userScore }}</h5>
            }
            <p>{{ text }}</p>
            @if( errors && errors.length > 0 ) {
                <h5 class="text-lg">Errores encontrados</h5>
            }
            @if (!hasDude) {
                <ul>
                    @for (error of errors; track $index; let first = $first ) {
                        <li>{{ error }}</li>
                    } @empty {
                        <li>No se encontraro errores, perfecto! 💯</li>
                    }
                </ul>
                @if (corrections) {
                    <hr>
                    <h6 class="text-lg">Corrección</h6>
                    <i>{{ corrections }}</i>
                }
            }
        </div>
    </div>
</div>