<div class="chat-container">
    <div class="chat-messages">
        <div class="grid gap-y-2">
            <!--CHAT MESSAGES-->
            <app-gpt-messages text="Escribe el texto que quieres que revise el corrector ortográfico" />
            @for (message of messages(); track $index) {
                @if(message.isGpt){
                    <app-gpt-messages [text]="message.text"/>
                }@else{
                    <app-my-messages [text]="message.text"/>
                }
            }   
            @if(isLoanding()){
            <app-typing-loader />
            }
        </div>
    </div>
    <!--
    <app-text-message-box
    plahaceholder="Escribe tu mensaje..."
    (onMessage)="handleMessage($event)"/>
    -->
    <!--
    <app-text-message-box-file
    plahaceholder="Escribe tu mensaje..."
    (onMessage)="handleMessageWithFile($event)"/>
    -->
    <app-text-message-box-select plahaceholder="Escribe tu mensaje..." [options]="[{
        id: '1',
        name: 'Opción 1'
    },{
        id: '2',
        name: 'Opción 2'
    }]" (onMessage)="handleMessageWithSelect($event)" />
</div>