@if (baseImage()) {
<div
    class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 fixed flex flex-col top-10 right-10 z-10 fade-in">
    <img [src]="baseImage()" alt="Imagen original a editar" class="rounded-t-lg" />
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Generar una variación</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">En base a esta imagen se va a generar una
            variación.</p>
        <div class="flex items-center justify-between">
            <!--<button (click)="generateVariation()" class="btn-primary mt-2 mr-5">
                Generar variación
            </button>-->
            <button (click)="close()" class="btn-secundary mt-2">
                Cerrar
            </button>
        </div>
    </div>
</div>
}
<div class="chat-container">
    <div class="chat-messages">
        <div class="grid gap-y-2">
            <!--CHAT MESSAGES-->
            <app-gpt-messages text="¿Qué imagen deseas generar?" />
            @for (message of messages(); track $index) {
            @if(message.isGpt){
            <app-gpt-message-editable-image [text]="message.text" [imageInfo]="message.imageInfo!"
                (onSelectedImage)="handleImageChange($event, message.imageInfo!.url )" />
            }@else{
            <app-my-messages [text]="message.text" />
            }
            }
            @if(isLoanding()){
            <app-typing-loader />
            }
        </div>
    </div>
    <app-text-message-box plahaceholder="Escribe tu mensaje..." (onMessage)="handleMessage($event)" />
</div>